<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About SokoHub</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum earum doloremque perferendis exercitationem esse veniam unde! Sunt architecto blanditiis modi asperiores ullam facere odio cum omnis iste, maxime alias sit.
    Expedita quam pariatur, neque, velit nemo non rerum, assumenda alias quibusdam voluptas nobis accusantium sunt atque libero totam illum cumque a iusto. Unde laboriosam exercitationem, cum vel quia dolor quos.
    Ducimus dolores ipsum aut nam necessitatibus quam sed assumenda perspiciatis explicabo voluptas eius sit non, optio impedit veritatis natus iure corporis debitis quo ut. Iusto consequatur eaque unde rem quibusdam.</p>
    
</body>
</html>