<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>

    {% load static %}
    <style>
        h1{
            text-align: center;
        }

        img{
            height: 200px;
            width: 200px;
        }



    </style>
</head>
<body>

    <h1>Contact Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aspernatur totam cupiditate quae, rem magni cum ex? Tempora officia recusandae molestias quidem, doloribus maxime nam? Sit laudantium vitae cumque qui.
    Eum doloribus, sequi provident voluptas placeat eveniet. Reprehenderit veniam debitis, sint sapiente itaque, fugiat cumque corporis distinctio quam maiores porro repudiandae voluptates odio id minima nemo facilis esse aut deserunt.
    Quasi quia, temporibus velit voluptatibus alias totam quibusdam animi reprehenderit quidem nulla eaque excepturi neque! Praesentium dolor natus quasi perspiciatis debitis, laborum molestiae quas cum aliquid perferendis expedita illum vel!</p>
    
    <img src="{% static 'images/snkr1.jpg'%}" alt="">
</body>
</html>