<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}">

    <style>
        img{
            width: 200px;
            height: 220px;
        }
    </style>

</head>
<body>
    <h1>Welcome to SokoHub Web Application!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corporis recusandae unde sit expedita repudiandae voluptatibus harum rerum, aut quisquam error, aspernatur, consectetur impedit? Ullam nihil ducimus eius atque nesciunt!
    Maiores nisi sunt totam vero cum explicabo sit aperiam aspernatur! Repudiandae et, assumenda porro, soluta eos velit quo possimus consequuntur eum pariatur veniam odio, illo voluptas consectetur totam iusto quibusdam.
    Consequuntur, alias quaerat assumenda corrupti praesentium illo quisquam modi excepturi eos amet. Reiciendis, totam sapiente iure ducimus sit architecto doloribus itaque consequatur ex ullam provident minima alias, consectetur ipsam neque.</p>

    <br><br>

    <img src="{% static 'images/snkr1.jpg'%}" alt="">
    <img src="{% static 'images/snkr2.jpg'%}" alt="">
    <img src="{% static 'images/snkr3.jpg'%}" alt="">
    <img src="{% static 'images/snkr4.jpg'%}" alt="">
    <img src="{% static 'images/snkr5.jpg'%}" alt="">
    <img src="{% static 'images/snkr6.jpg'%}" alt="">
    <img src="{% static 'images/snkr7.jpg'%}" alt="">
    <img src="{% static 'images/snkr8.jpg'%}" alt="">


</body>
</html>