<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>


</head>
<body>
    <h1 class="text-center text-decoration-underline">Our Services</h1>

    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
    <a href="{% url 'about' %}" class="btn btn-secondary">About</a>
    <a href="{% url 'contact' %}" class="btn btn-success">Contact</a>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente commodi mollitia tenetur fuga enim soluta corrupti, temporibus sequi laborum eveniet culpa praesentium minima in aliquid neque accusamus doloribus vel quibusdam!
    Iusto ipsam, nihil temporibus debitis itaque adipisci provident aliquid odit incidunt iste reiciendis doloribus cupiditate doloremque? Enim, quis, et natus obcaecati doloremque aut praesentium, vero alias dolorem possimus dolor cupiditate.
    Dolore soluta, ullam animi sit nobis praesentium aliquid consequatur quo eius dolor dicta quisquam deserunt sed optio nemo reiciendis quas autem iusto. Ea ducimus quis, id veniam assumenda soluta neque?</p>

    <h2 class="text-danger mb-3">Service Categories</h2>

    <h3>Fast Delivery</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor qui nisi iure beatae. Id, incidunt adipisci? Deserunt a, praesentium, laboriosam et, iure non aut quasi doloremque harum temporibus amet autem?
    Numquam sint quis nisi voluptatibus. Hic, quidem autem iure recusandae repellendus accusamus error, quasi esse, veniam quisquam eos. Delectus voluptates fuga dolorum deleniti aliquid quidem inventore, alias ab quisquam? Cumque?</p>

    <h3>Custom Packaging</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, impedit eligendi possimus a necessitatibus temporibus dolorem provident et eaque. Veritatis debitis at ipsum ad facere, perspiciatis commodi officia in impedit!
    Quod assumenda iste impedit aliquid magnam amet? Eligendi temporibus debitis quos. Quod maiores quas, quo vero, sit cumque nihil quisquam animi, ullam dolorum repudiandae quis odio voluptatibus provident nisi eum.
    Odio eius reprehenderit sed sequi cumque nesciunt aliquam aliquid perferendis, ab debitis nobis minus quos eaque eos atque dicta qui beatae consectetur? Quia aliquam ex reprehenderit, laborum eligendi hic porro!</p>
    
</body>
</html>